NEXT_PUBLIC_APP_NAME = "Quickly"
NEXT_PUBLIC_APP_SHORT_NAME = "Quickly"
NEXT_PUBLIC_APP_DESCRIPTION = "Quickly é uma plataforma de agendamento de consultas e gerenciamento de negócios."
NEXT_PUBLIC_APP_KEYWORDS = "quickly, agendamento, consultas, negócios"
NEXT_PUBLIC_APP_CREATOR = "Quickly Inc."
NEXT_PUBLIC_THEME_COLOR = "#000000"
NEXT_PUBLIC_BG_COLOR = "#ffffff"

NEXT_PUBLIC_API_SOURCE = "/proxy/api"
NEXT_PUBLIC_COOKIE_SESSION_ID = "quickly:sid"

NEXT_PUBLIC_APP_PROTOCOL = "http"
NEXT_PUBLIC_APP_DOMAIN = "192.168.18.3"
NEXT_PUBLIC_APP_PORT = "3737"

NEXT_PUBLIC_BACKEND_PROTOCOL = "http"
NEXT_PUBLIC_BACKEND_DOMAIN = "192.168.18.3"
NEXT_PUBLIC_BACKEND_PORT = "3001"
