@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi:wght@400&display=swap");

@import "tailwindcss";
@plugin "./hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

@theme inline {
	--font-dm-sans: "DM Sans", sans-serif;
	--font-gugi: "Gugi", sans-serif;
}

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer base {
	:root {
		--color-background: #fff;
		--chart-1: 220 70% 50%;
		--chart-5: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-2: 340 75% 55%;
	}

	.dark {
		--color-background: #1a1a1a;
		--chart-1: 220 70% 50%;
		--chart-5: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-2: 340 75% 55%;
	}
}
